@model Bakery.Models.NewPerson
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Register New Customer</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
    <!-- Last Name -->
    <div class="form-group">
        <label for="PersonLastName" class="control-label col-md-2">Last Name</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.PersonLastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PersonLastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- First Name -->
    <div class="form-group">
        <label for="PersonFirstName" class="control-label col-md-2">First Name</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.PersonFirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PersonFirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Email Address -->
    <div class="form-group">
        <label for="PersonEmail" class="control-label col-md-2">Email Address</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.PersonEmail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PersonEmail, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Phone Number -->
    <div class="form-group">
        <label for="PersonPhone" class="control-label col-md-2">Email Address</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.PersonPhone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PersonPhone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add Customer" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to Customer List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


